# Data Validation:

In [9]:
pip install from-root

Defaulting to user installation because normal site-packages is not writeable
Collecting from-root
  Using cached from_root-1.0.2-py3-none-any.whl (6.5 kB)
Installing collected packages: from-root
Successfully installed from-root-1.0.2

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [12]:
pip install dill

Defaulting to user installation because normal site-packages is not writeable
Collecting dill
  Using cached dill-0.3.6-py3-none-any.whl (110 kB)
Installing collected packages: dill
Successfully installed dill-0.3.6

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [13]:
import os
import sys
from distutils import dir_util

import pandas as pd

from sensor.constant.training_pipeline import SCHEMA_FILE_PATH
from sensor.entity.artifact_entity import (DataIngestionArtifact,DataValidationArtifact)
from sensor.entity.config_entity import DataValidationConfig
from sensor.exception import SensorException
from sensor.logger import logging
from sensor.utils.main_utils import read_yaml_file, write_yaml_file

In [22]:
SCHEMA_FILE_PATH

'config/schema.yaml'

In [38]:
DataIngestionArtifact.__annotations__

{'trained_file_path': str, 'test_file_path': str}

In [44]:
DataValidationArtifact.__annotations__

{'validation_status': bool,
 'valid_train_file_path': str,
 'valid_test_file_path': str,
 'invalid_train_file_path': str,
 'invalid_test_file_path': str,
 'drift_report_file_path': str}

## Steps in Data Validation: 
### 1. Validating number of columns
### 2. Validating data type of columns
### 2. Detecting data drift

## 1. Validating number of columns

In [81]:
schema_config = read_yaml_file("/Users/DEEPANSHU/Folder001/IRPC/APS-Fault-Detection/config/schema.yaml")

In [83]:
schema_config

{'columns': [{'class': 'category'},
  {'aa_000': 'int'},
  {'ac_000': 'int'},
  {'ad_000': 'int'},
  {'ae_000': 'int'},
  {'af_000': 'int'},
  {'ag_000': 'int'},
  {'ag_001': 'int'},
  {'ag_002': 'int'},
  {'ag_003': 'int'},
  {'ag_004': 'int'},
  {'ag_005': 'int'},
  {'ag_006': 'int'},
  {'ag_007': 'int'},
  {'ag_008': 'int'},
  {'ag_009': 'int'},
  {'ah_000': 'int'},
  {'ai_000': 'int'},
  {'aj_000': 'int'},
  {'ak_000': 'int'},
  {'al_000': 'int'},
  {'am_0': 'int'},
  {'an_000': 'int'},
  {'ao_000': 'int'},
  {'ap_000': 'int'},
  {'aq_000': 'int'},
  {'ar_000': 'int'},
  {'as_000': 'int'},
  {'at_000': 'int'},
  {'au_000': 'int'},
  {'av_000': 'int'},
  {'ax_000': 'int'},
  {'ay_000': 'int'},
  {'ay_001': 'int'},
  {'ay_002': 'int'},
  {'ay_003': 'int'},
  {'ay_004': 'int'},
  {'ay_005': 'int'},
  {'ay_006': 'int'},
  {'ay_007': 'int'},
  {'ay_008': 'int'},
  {'ay_009': 'int'},
  {'az_000': 'int'},
  {'az_001': 'int'},
  {'az_002': 'int'},
  {'az_003': 'int'},
  {'az_004': 'int'},
  {'az_005': 'int'},
  {'az_006': 'int'},
  {'az_007': 'int'},
  {'az_008': 'int'},
  {'az_009': 'int'},
  {'ba_000': 'int'},
  {'ba_001': 'int'},
  {'ba_002': 'int'},
  {'ba_003': 'int'},
  {'ba_004': 'int'},
  {'ba_005': 'int'},
  {'ba_006': 'int'},
  {'ba_007': 'int'},
  {'ba_008': 'int'},
  {'ba_009': 'int'},
  {'bb_000': 'int'},
  {'bc_000': 'int'},
  {'bd_000': 'int'},
  {'be_000': 'int'},
  {'bf_000': 'int'},
  {'bg_000': 'int'},
  {'bh_000': 'int'},
  {'bi_000': 'int'},
  {'bj_000': 'int'},
  {'bk_000': 'int'},
  {'bl_000': 'int'},
  {'bm_000': 'int'},
  {'bs_000': 'int'},
  {'bt_000': 'int'},
  {'bu_000': 'int'},
  {'bv_000': 'int'},
  {'bx_000': 'int'},
  {'by_000': 'int'},
  {'bz_000': 'int'},
  {'ca_000': 'int'},
  {'cb_000': 'int'},
  {'cc_000': 'int'},
  {'cd_000': 'int'},
  {'ce_000': 'int'},
  {'cf_000': 'int'},
  {'cg_000': 'int'},
  {'ch_000': 'int'},
  {'ci_000': 'int'},
  {'cj_000': 'int'},
  {'ck_000': 'int'},
  {'cl_000': 'int'},
  {'cm_000': 'int'},
  {'cn_000': 'int'},
  {'cn_001': 'int'},
  {'cn_002': 'int'},
  {'cn_003': 'int'},
  {'cn_004': 'int'},
  {'cn_005': 'int'},
  {'cn_006': 'int'},
  {'cn_007': 'int'},
  {'cn_008': 'int'},
  {'cn_009': 'int'},
  {'co_000': 'int'},
  {'cp_000': 'int'},
  {'cq_000': 'int'},
  {'cs_000': 'int'},
  {'cs_001': 'int'},
  {'cs_002': 'int'},
  {'cs_003': 'int'},
  {'cs_004': 'int'},
  {'cs_005': 'int'},
  {'cs_006': 'int'},
  {'cs_007': 'int'},
  {'cs_008': 'int'},
  {'cs_009': 'int'},
  {'ct_000': 'int'},
  {'cu_000': 'int'},
  {'cv_000': 'int'},
  {'cx_000': 'int'},
  {'cy_000': 'int'},
  {'cz_000': 'int'},
  {'da_000': 'int'},
  {'db_000': 'int'},
  {'dc_000': 'int'},
  {'dd_000': 'int'},
  {'de_000': 'int'},
  {'df_000': 'int'},
  {'dg_000': 'int'},
  {'dh_000': 'int'},
  {'di_000': 'int'},
  {'dj_000': 'int'},
  {'dk_000': 'int'},
  {'dl_000': 'int'},
  {'dm_000': 'int'},
  {'dn_000': 'int'},
  {'do_000': 'int'},
  {'dp_000': 'int'},
  {'dq_000': 'int'},
  {'dr_000': 'int'},
  {'ds_000': 'int'},
  {'dt_000': 'int'},
  {'du_000': 'int'},
  {'dv_000': 'int'},
  {'dx_000': 'int'},
  {'dy_000': 'int'},
  {'dz_000': 'int'},
  {'ea_000': 'int'},
  {'eb_000': 'int'},
  {'ec_00': 'int'},
  {'ed_000': 'int'},
  {'ee_000': 'int'},
  {'ee_001': 'int'},
  {'ee_002': 'int'},
  {'ee_003': 'int'},
  {'ee_004': 'int'},
  {'ee_005': 'int'},
  {'ee_006': 'int'},
  {'ee_007': 'int'},
  {'ee_008': 'int'},
  {'ee_009': 'int'},
  {'ef_000': 'int'},
  {'eg_000': 'int'}],
 'numerical_columns': ['aa_000',
  'ac_000',
  'ad_000',
  'ae_000',
  'af_000',
  'ag_000',
  'ag_001',
  'ag_002',
  'ag_003',
  'ag_004',
  'ag_005',
  'ag_006',
  'ag_007',
  'ag_008',
  'ag_009',
  'ah_000',
  'ai_000',
  'aj_000',
  'ak_000',
  'al_000',
  'am_0',
  'an_000',
  'ao_000',
  'ap_000',
  'aq_000',
  'ar_000',
  'as_000',
  'at_000',
  'au_000',
  'av_000',
  'ax_000',
  'ay_000',
  'ay_001',
  'ay_002',
  'ay_003',
  'ay_004',
  'ay_005',
  'ay_006',
  'ay_007',
  'ay_008',
  'ay_009',
  'az_000',
  'az_001',
  'az_002',
  'az_003',
  'az_004',
  'az_005',
  'az_006',
  'az_007',
  'az_008',
  'az_009',
  'ba_000',
  'ba_001',
  'ba_002',
  'ba_003',
  'ba_004',
  'ba_005',
  'ba_006',
  'ba_007',
  'ba_008',
  'ba_009',
  'bb_000',
  'bc_000',
  'bd_000',
  'be_000',
  'bf_000',
  'bg_000',
  'bh_000',
  'bi_000',
  'bj_000',
  'bk_000',
  'bl_000',
  'bm_000',
  'bs_000',
  'bt_000',
  'bu_000',
  'bv_000',
  'bx_000',
  'by_000',
  'bz_000',
  'ca_000',
  'cb_000',
  'cc_000',
  'cd_000',
  'ce_000',
  'cf_000',
  'cg_000',
  'ch_000',
  'ci_000',
  'cj_000',
  'ck_000',
  'cl_000',
  'cm_000',
  'cn_000',
  'cn_001',
  'cn_002',
  'cn_003',
  'cn_004',
  'cn_005',
  'cn_006',
  'cn_007',
  'cn_008',
  'cn_009',
  'co_000',
  'cp_000',
  'cq_000',
  'cs_000',
  'cs_001',
  'cs_002',
  'cs_003',
  'cs_004',
  'cs_005',
  'cs_006',
  'cs_007',
  'cs_008',
  'cs_009',
  'ct_000',
  'cu_000',
  'cv_000',
  'cx_000',
  'cy_000',
  'cz_000',
  'da_000',
  'db_000',
  'dc_000',
  'dd_000',
  'de_000',
  'df_000',
  'dg_000',
  'dh_000',
  'di_000',
  'dj_000',
  'dk_000',
  'dl_000',
  'dm_000',
  'dn_000',
  'do_000',
  'dp_000',
  'dq_000',
  'dr_000',
  'ds_000',
  'dt_000',
  'du_000',
  'dv_000',
  'dx_000',
  'dy_000',
  'dz_000',
  'ea_000',
  'eb_000',
  'ec_00',
  'ed_000',
  'ee_000',
  'ee_001',
  'ee_002',
  'ee_003',
  'ee_004',
  'ee_005',
  'ee_006',
  'ee_007',
  'ee_008',
  'ee_009',
  'ef_000',
  'eg_000'],
 'drop_columns': ['br_000',
  'bq_000',
  'bp_000',
  'ab_000',
  'cr_000',
  'bo_000',
  'bn_000']}

In [85]:
len(schema_config)

3

In [87]:
type(schema_config)

dict

In [89]:
schema_config.keys()

dict_keys(['columns', 'numerical_columns', 'drop_columns'])

In [86]:
len(schema_config["columns"])

164

In [16]:
SCHEMA_FILE_PATH

'config/schema.yaml'

In [90]:
train_df = pd.read_csv("/Users/DEEPANSHU/Folder001/IRPC/APS-Fault-Detection/artifact/11_22_2022_01_22_57/data_ingestion/ingested/train.csv")
test_df = pd.read_csv("/Users/DEEPANSHU/Folder001/IRPC/APS-Fault-Detection/artifact/11_22_2022_01_22_57/data_ingestion/ingested/test.csv")

In [91]:
train_df.head()

,class,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,8,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,22.0,24.0,82.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0
1,neg,135064,5310.0,1794.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,neg,29698,420.0,398.0,0.0,0.0,0.0,0.0,0.0,0.0,...,257876.0,132972.0,232164.0,179282.0,152876.0,107718.0,219230.0,5332.0,0.0,0.0
3,pos,767028,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,8652934.0,4023780.0,10336264.0,8726276.0,2702378.0,606250.0,297838.0,1690.0,0.0,0.0
4,neg,49428,94.0,92.0,0.0,0.0,0.0,0.0,0.0,0.0,...,152416.0,73996.0,167820.0,161014.0,322384.0,1199314.0,13592.0,0.0,0.0,0.0

In [94]:
def validate_number_of_columns(dataframe:pd.DataFrame)->bool:
    number_of_columns = len(schema_config["columns"])
    if len(dataframe.columns)==number_of_columns:
        return True
    return False

In [96]:
validate_number_of_columns(train_df)

True

In [97]:
validate_number_of_columns(test_df)

True

## 2. Validating datatype of columns

In [98]:
numerical_columns = schema_config["numerical_columns"]
numerical_columns

['aa_000',
 'ac_000',
 'ad_000',
 'ae_000',
 'af_000',
 'ag_000',
 'ag_001',
 'ag_002',
 'ag_003',
 'ag_004',
 'ag_005',
 'ag_006',
 'ag_007',
 'ag_008',
 'ag_009',
 'ah_000',
 'ai_000',
 'aj_000',
 'ak_000',
 'al_000',
 'am_0',
 'an_000',
 'ao_000',
 'ap_000',
 'aq_000',
 'ar_000',
 'as_000',
 'at_000',
 'au_000',
 'av_000',
 'ax_000',
 'ay_000',
 'ay_001',
 'ay_002',
 'ay_003',
 'ay_004',
 'ay_005',
 'ay_006',
 'ay_007',
 'ay_008',
 'ay_009',
 'az_000',
 'az_001',
 'az_002',
 'az_003',
 'az_004',
 'az_005',
 'az_006',
 'az_007',
 'az_008',
 'az_009',
 'ba_000',
 'ba_001',
 'ba_002',
 'ba_003',
 'ba_004',
 'ba_005',
 'ba_006',
 'ba_007',
 'ba_008',
 'ba_009',
 'bb_000',
 'bc_000',
 'bd_000',
 'be_000',
 'bf_000',
 'bg_000',
 'bh_000',
 'bi_000',
 'bj_000',
 'bk_000',
 'bl_000',
 'bm_000',
 'bs_000',
 'bt_000',
 'bu_000',
 'bv_000',
 'bx_000',
 'by_000',
 'bz_000',
 'ca_000',
 'cb_000',
 'cc_000',
 'cd_000',
 'ce_000',
 'cf_000',
 'cg_000',
 'ch_000',
 'ci_000',
 'cj_000',
 'ck_000',
 'cl_000',
 'cm_000',
 'cn_000',
 'cn_001',
 'cn_002',
 'cn_003',
 'cn_004',
 'cn_005',
 'cn_006',
 'cn_007',
 'cn_008',
 'cn_009',
 'co_000',
 'cp_000',
 'cq_000',
 'cs_000',
 'cs_001',
 'cs_002',
 'cs_003',
 'cs_004',
 'cs_005',
 'cs_006',
 'cs_007',
 'cs_008',
 'cs_009',
 'ct_000',
 'cu_000',
 'cv_000',
 'cx_000',
 'cy_000',
 'cz_000',
 'da_000',
 'db_000',
 'dc_000',
 'dd_000',
 'de_000',
 'df_000',
 'dg_000',
 'dh_000',
 'di_000',
 'dj_000',
 'dk_000',
 'dl_000',
 'dm_000',
 'dn_000',
 'do_000',
 'dp_000',
 'dq_000',
 'dr_000',
 'ds_000',
 'dt_000',
 'du_000',
 'dv_000',
 'dx_000',
 'dy_000',
 'dz_000',
 'ea_000',
 'eb_000',
 'ec_00',
 'ed_000',
 'ee_000',
 'ee_001',
 'ee_002',
 'ee_003',
 'ee_004',
 'ee_005',
 'ee_006',
 'ee_007',
 'ee_008',
 'ee_009',
 'ef_000',
 'eg_000']

In [99]:
len(numerical_columns)

163

In [100]:
train_df.columns

Index(['class', 'aa_000', 'ac_000', 'ad_000', 'ae_000', 'af_000', 'ag_000',
       'ag_001', 'ag_002', 'ag_003',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=164)

In [103]:
for i in numerical_columns:
    if i not in train_df.columns:
        print("Error")

In [104]:
def is_numerical_column_exist(dataframe:pd.DataFrame)->bool:

    numerical_columns = schema_config["numerical_columns"]
    dataframe_columns = dataframe.columns
    numerical_column_present = True
    missing_numerical_columns = []
    for num_column in numerical_columns:
        if num_column not in dataframe_columns:
            numerical_column_present=False
            missing_numerical_columns.append(num_column)

    return numerical_column_present

In [105]:
is_numerical_column_exist(train_df)

True

In [107]:
# dropping numerical columns deliberately to check the function
df2 = train_df.copy()
df2.drop("ac_000",axis = 1, inplace=True)

In [108]:
is_numerical_column_exist(df2)

False

## Detecting Data drift

In [109]:
train_df

,class,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,8,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,22.0,24.0,82.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0
1,neg,135064,5310.0,1794.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,neg,29698,420.0,398.0,0.0,0.0,0.0,0.0,0.0,0.0,...,257876.0,132972.0,232164.0,179282.0,152876.0,107718.0,219230.0,5332.0,0.0,0.0
3,pos,767028,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,8652934.0,4023780.0,10336264.0,8726276.0,2702378.0,606250.0,297838.0,1690.0,0.0,0.0
4,neg,49428,94.0,92.0,0.0,0.0,0.0,0.0,0.0,0.0,...,152416.0,73996.0,167820.0,161014.0,322384.0,1199314.0,13592.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,neg,60238,1162.0,958.0,0.0,0.0,0.0,0.0,0.0,0.0,...,845020.0,262370.0,571000.0,522624.0,267102.0,125418.0,47588.0,538.0,0.0,0.0
15996,neg,16510,126.0,124.0,0.0,0.0,0.0,0.0,0.0,0.0,...,126008.0,50202.0,95742.0,98032.0,95706.0,243508.0,3798.0,0.0,0.0,0.0
15997,neg,66256,644.0,NaN,0.0,0.0,0.0,0.0,0.0,28950.0,...,418638.0,157426.0,283168.0,341816.0,680494.0,945028.0,26226.0,0.0,2.0,4.0
15998,neg,38886,126.0,124.0,0.0,0.0,0.0,0.0,0.0,0.0,...,389614.0,212934.0,401256.0,332584.0,189440.0,95130.0,114798.0,6246.0,0.0,0.0
15999,neg,13482,60.0,60.0,0.0,0.0,0.0,0.0,0.0,0.0,...,304010.0,136548.0,83396.0,17650.0,45268.0,26724.0,106.0,0.0,0.0,0.0

In [110]:
test_df

,class,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,57140,2.130706e+09,1048.0,0.0,0.0,0.0,0.0,0.0,0.0,...,502516.0,240194.0,482820.0,417904.0,374770.0,224304.0,290198.0,7242.0,0.0,0.0
1,neg,126566,9.140000e+02,226.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1100358.0,534282.0,1111740.0,874320.0,714000.0,473336.0,763430.0,46694.0,0.0,0.0
2,neg,28202,2.660000e+02,256.0,0.0,0.0,0.0,0.0,0.0,0.0,...,279646.0,157246.0,431052.0,328130.0,112122.0,23792.0,6996.0,28.0,0.0,0.0
3,neg,31082,2.000000e+02,190.0,0.0,0.0,0.0,0.0,0.0,0.0,...,319140.0,160646.0,319082.0,324442.0,200886.0,89398.0,29118.0,0.0,0.0,0.0
4,neg,120744,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,966388.0,569148.0,2113720.0,2094512.0,43860.0,1350.0,132.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3996,neg,42364,5.900000e+02,540.0,0.0,0.0,0.0,0.0,0.0,0.0,...,411944.0,213500.0,420686.0,407552.0,211484.0,109036.0,144224.0,6024.0,0.0,0.0
3997,neg,1282,2.130706e+09,106.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7598.0,1836.0,5386.0,3164.0,8124.0,26748.0,0.0,0.0,0.0,0.0
3998,neg,31124,2.130706e+09,640.0,0.0,0.0,0.0,0.0,0.0,0.0,...,349920.0,178456.0,453852.0,434946.0,23498.0,2734.0,1146.0,0.0,0.0,0.0
3999,neg,5640,1.340000e+02,118.0,0.0,0.0,0.0,0.0,0.0,0.0,...,43110.0,11676.0,20614.0,30760.0,19210.0,19826.0,54060.0,5716.0,0.0,0.0
4000,neg,956,7.400000e+01,64.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2688.0,1280.0,7320.0,27382.0,1468.0,24.0,6.0,0.0,0.0,0.0

In [112]:
from scipy.stats import ks_2samp

In [116]:
train_df.iloc[:,1:]

,aa_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,ag_004,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,8,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1538.0,...,22.0,24.0,82.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0
1,135064,5310.0,1794.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,29698,420.0,398.0,0.0,0.0,0.0,0.0,0.0,0.0,334.0,...,257876.0,132972.0,232164.0,179282.0,152876.0,107718.0,219230.0,5332.0,0.0,0.0
3,767028,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,8770.0,...,8652934.0,4023780.0,10336264.0,8726276.0,2702378.0,606250.0,297838.0,1690.0,0.0,0.0
4,49428,94.0,92.0,0.0,0.0,0.0,0.0,0.0,0.0,285098.0,...,152416.0,73996.0,167820.0,161014.0,322384.0,1199314.0,13592.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,60238,1162.0,958.0,0.0,0.0,0.0,0.0,0.0,0.0,83582.0,...,845020.0,262370.0,571000.0,522624.0,267102.0,125418.0,47588.0,538.0,0.0,0.0
15996,16510,126.0,124.0,0.0,0.0,0.0,0.0,0.0,0.0,113236.0,...,126008.0,50202.0,95742.0,98032.0,95706.0,243508.0,3798.0,0.0,0.0,0.0
15997,66256,644.0,NaN,0.0,0.0,0.0,0.0,0.0,28950.0,878464.0,...,418638.0,157426.0,283168.0,341816.0,680494.0,945028.0,26226.0,0.0,2.0,4.0
15998,38886,126.0,124.0,0.0,0.0,0.0,0.0,0.0,0.0,144.0,...,389614.0,212934.0,401256.0,332584.0,189440.0,95130.0,114798.0,6246.0,0.0,0.0
15999,13482,60.0,60.0,0.0,0.0,0.0,0.0,0.0,0.0,138026.0,...,304010.0,136548.0,83396.0,17650.0,45268.0,26724.0,106.0,0.0,0.0,0.0

In [119]:
columns = train_df.columns

In [120]:
columns

Index(['class', 'aa_000', 'ac_000', 'ad_000', 'ae_000', 'af_000', 'ag_000',
       'ag_001', 'ag_002', 'ag_003',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=164)

In [121]:
train_df[columns[0]]

0        neg
1        neg
2        neg
3        pos
4        neg
        ...
15995    neg
15996    neg
15997    neg
15998    neg
15999    neg
Name: class, Length: 16000, dtype: object

In [123]:
for i in columns:
    print(ks_2samp(train_df[i], test_df[i]))

KstestResult(statistic=0.0007536865783553948, pvalue=1.0)
KstestResult(statistic=0.009323965883529128, pvalue=0.9410926404905947)
KstestResult(statistic=0.014956229692576928, pvalue=0.4666665269460183)
KstestResult(statistic=0.01571866408397904, pvalue=0.4035151787899641)
KstestResult(statistic=0.006077121344663761, pvalue=0.9997476525982335)
KstestResult(statistic=0.006138059235191173, pvalue=0.9996944698488477)
KstestResult(statistic=0.0016901868282929167, pvalue=1.0)
KstestResult(statistic=0.002440749187703095, pvalue=1.0)
KstestResult(statistic=0.004233754061484629, pvalue=0.9999999921393242)
KstestResult(statistic=0.021381826418395367, pvalue=0.10558571481456991)
KstestResult(statistic=0.014510091227193156, pvalue=0.505837630438867)
KstestResult(statistic=0.011979083354161424, pvalue=0.743136796721573)
KstestResult(statistic=0.018725287428142945, pvalue=0.20903060791721806)
KstestResult(statistic=0.02025673269182704, pvalue=0.14259543852717427)
KstestResult(statistic=0.019751405898525365, pvalue=0.16232824658953982)
KstestResult(statistic=0.017685234941264727, pvalue=0.2662401075199675)
KstestResult(statistic=0.01651554298925273, pvalue=0.3432762335250037)
KstestResult(statistic=0.00996161897025738, pvalue=0.9052836490957239)
KstestResult(statistic=0.008135247438140425, pvalue=0.982788269795203)
KstestResult(statistic=0.006393182954261389, pvalue=0.9993592209274073)
KstestResult(statistic=0.012991205323669042, pvalue=0.6475097289074215)
KstestResult(statistic=0.01336101912022003, pvalue=0.6122812661605113)
KstestResult(statistic=0.014439171457135691, pvalue=0.5121972414676297)
KstestResult(statistic=0.014944920019995034, pvalue=0.4676406266055456)
KstestResult(statistic=0.017480411147213215, pvalue=0.278744668454569)
KstestResult(statistic=0.021025977880529956, pvalue=0.11631877704663762)
KstestResult(statistic=0.0060102474381404924, pvalue=0.9997968329055139)
KstestResult(statistic=0.0011899368907773988, pvalue=1.0)
KstestResult(statistic=0.015209619470132552, pvalue=0.4451177597437793)
KstestResult(statistic=0.001564936890777302, pvalue=1.0)
KstestResult(statistic=0.022358363534116465, pvalue=0.080275173815758)
KstestResult(statistic=0.01821639902524369, pvalue=0.23572890722110829)
KstestResult(statistic=0.0032541864533867093, pvalue=0.9999999999999938)
KstestResult(statistic=0.004943248562859215, pvalue=0.9999982757057697)
KstestResult(statistic=0.005005998500374975, pvalue=0.9999975067751713)
KstestResult(statistic=0.004256060984753729, pvalue=0.9999999902845894)
KstestResult(statistic=0.005629623844038978, pvalue=0.9999493142164386)
KstestResult(statistic=0.014356785803549155, pvalue=0.5196271933475054)
KstestResult(statistic=0.01575598287928015, pvalue=0.4005581658823314)
KstestResult(statistic=0.0113679861284679, pvalue=0.7980465351352296)
KstestResult(statistic=0.014133107348162977, pvalue=0.5400143574278433)
KstestResult(statistic=0.0018163740314920407, pvalue=1.0)
KstestResult(statistic=0.01541759872531867, pvalue=0.4278399092396876)
KstestResult(statistic=0.012225615471132212, pvalue=0.7201838816562358)
KstestResult(statistic=0.010944701324668737, pvalue=0.8336854420245271)
KstestResult(statistic=0.011155836040989742, pvalue=0.8162028541108141)
KstestResult(statistic=0.01244715383654088, pvalue=0.6993058704206476)
KstestResult(statistic=0.013767745563609102, pvalue=0.5739048756490267)
KstestResult(statistic=0.014872297550612368, pvalue=0.4739198949457608)
KstestResult(statistic=0.009998047363159235, pvalue=0.9029646610994109)
KstestResult(statistic=0.009459244563858937, pvalue=0.9342736489396729)
KstestResult(statistic=0.0018808735316171443, pvalue=1.0)
KstestResult(statistic=0.013945279305173697, pvalue=0.5573543333678312)
KstestResult(statistic=0.0107135559860035, pvalue=0.8520656633371739)
KstestResult(statistic=0.013779305173706582, pvalue=0.5728229320972772)
KstestResult(statistic=0.012346866408397883, pvalue=0.7087812441156871)
KstestResult(statistic=0.011152430642339409, pvalue=0.8164896790351214)
KstestResult(statistic=0.0115825574856286, pvalue=0.7791596667075611)
KstestResult(statistic=0.013419035866033435, pvalue=0.6067762013689617)
KstestResult(statistic=0.01318660959760054, pvalue=0.628872949744651)
KstestResult(statistic=0.01590021244688833, pvalue=0.3892530864789442)
KstestResult(statistic=0.01651501187203197, pvalue=0.34331431451864225)
KstestResult(statistic=0.016694545113721593, pvalue=0.330601626024149)
KstestResult(statistic=0.007564483879030193, pvalue=0.9924354411309356)
KstestResult(statistic=0.00730003436640847, pvalue=0.9951834442546812)
KstestResult(statistic=0.015838493501624598, pvalue=0.39406670846598413)
KstestResult(statistic=0.018433032366908297, pvalue=0.2240655713938675)
KstestResult(statistic=0.01626560547363165, pvalue=0.36150496886380434)
KstestResult(statistic=0.0192185391152212, pvalue=0.18542835072268282)
KstestResult(statistic=0.012468664083979064, pvalue=0.6972690717364919)
KstestResult(statistic=0.017519354536365883, pvalue=0.276335169866308)
KstestResult(statistic=0.008963899650087481, pvalue=0.9571437558301022)
KstestResult(statistic=0.009859144588852786, pvalue=0.9116538649320456)
KstestResult(statistic=0.014315921019745104, pvalue=0.5233288867554196)
KstestResult(statistic=0.018104926893276668, pvalue=0.24190516269084406)
KstestResult(statistic=0.010324340789802544, pvalue=0.8809686789082672)
KstestResult(statistic=0.0168820451137216, pvalue=0.31766810019529934)
KstestResult(statistic=0.0168820451137216, pvalue=0.31766810019529934)
KstestResult(statistic=0.012416864533866534, pvalue=0.7021714090372365)
KstestResult(statistic=0.015180845413646615, pvalue=0.44753768298488705)
KstestResult(statistic=0.016088087353161695, pvalue=0.37482436932135044)
KstestResult(statistic=0.010356926393401633, pvalue=0.8786555625741289)
KstestResult(statistic=0.015355114346413401, pvalue=0.4329909369536141)
KstestResult(statistic=0.011879733191702102, pvalue=0.752279049307494)
KstestResult(statistic=0.0005026868282929087, pvalue=1.0)
KstestResult(statistic=0.016396728942764338, pvalue=0.3518648128695411)
KstestResult(statistic=0.00588785616095977, pvalue=0.9998660458570177)
KstestResult(statistic=0.009917723694076508, pvalue=0.9080401948036848)
KstestResult(statistic=0.0008746094726318487, pvalue=1.0)
KstestResult(statistic=0.011697169457635548, pvalue=0.7688829539798985)
KstestResult(statistic=0.007267386278430377, pvalue=0.9954608956962311)
KstestResult(statistic=0.019802283804049026, pvalue=0.16024791995641885)
KstestResult(statistic=0.006918645338665375, pvalue=0.9977218734540915)
KstestResult(statistic=0.010373406648337913, pvalue=0.877477961484052)
KstestResult(statistic=0.0023826230942264326, pvalue=1.0)
KstestResult(statistic=0.015587259435141165, pvalue=0.41403018971973693)
KstestResult(statistic=0.015008888402899268, pvalue=0.46214464960604396)
KstestResult(statistic=0.014608582229442613, pvalue=0.497063406110809)
KstestResult(statistic=0.009847803674081473, pvalue=0.9123448150916302)
KstestResult(statistic=0.017606285928517873, pvalue=0.27101080748435624)
KstestResult(statistic=0.019023416020994777, pvalue=0.19450361348832934)
KstestResult(statistic=0.016503983379155263, pvalue=0.34410568775281114)
KstestResult(statistic=0.013881045363659084, pvalue=0.5633256960895311)
KstestResult(statistic=0.013122172581854552, pvalue=0.635014931661916)
KstestResult(statistic=0.010896838290427424, pvalue=0.8375595219993109)
KstestResult(statistic=0.01598584728817798, pvalue=0.38263431950519033)
KstestResult(statistic=0.0168820451137216, pvalue=0.31766810019529934)
KstestResult(statistic=0.012349850037490562, pvalue=0.7084998791242725)
KstestResult(statistic=0.012506842039490096, pvalue=0.6936505500499945)
KstestResult(statistic=0.014036225318670326, pvalue=0.5489349398835334)
KstestResult(statistic=0.014554783179205222, pvalue=0.5018477157934902)
KstestResult(statistic=0.014041786428392822, pvalue=0.5484215108403896)
KstestResult(statistic=0.014728536615846055, pvalue=0.486471423993729)
KstestResult(statistic=0.011942155086228423, pvalue=0.7465429936310752)
KstestResult(statistic=0.009850709197700536, pvalue=0.9121680636116632)
KstestResult(statistic=0.004796019745063718, pvalue=0.9999993152057182)
KstestResult(statistic=0.004951246563359102, pvalue=0.9999981912970786)
KstestResult(statistic=0.01983872781804552, pvalue=0.1587708759642361)
KstestResult(statistic=0.017669848162959245, pvalue=0.26716506682167374)
KstestResult(statistic=0.012504155211197188, pvalue=0.6939053474072361)
KstestResult(statistic=0.011353895901024758, pvalue=0.7992692142611542)
KstestResult(statistic=0.006894541989502678, pvalue=0.9978366688077259)
KstestResult(statistic=0.011612409397650625, pvalue=0.776494801947061)
KstestResult(statistic=0.0017471100974756348, pvalue=1.0)
KstestResult(statistic=0.011364783804049039, pvalue=0.7983246169523631)
KstestResult(statistic=0.010696216570857286, pvalue=0.8534099085140749)
KstestResult(statistic=0.013721288427892997, pvalue=0.5782587342942536)
KstestResult(statistic=0.02202660272431889, pvalue=0.08822984746816187)
KstestResult(statistic=0.00508030804798798, pvalue=0.9999962095143882)
KstestResult(statistic=0.004579495751062201, pvalue=0.9999998509958002)
KstestResult(statistic=0.005141245938515393, pvalue=0.999994728170455)
KstestResult(statistic=0.006659678830292504, pvalue=0.9987325820526065)
KstestResult(statistic=0.0040786834541365335, pvalue=0.9999999983653877)
KstestResult(statistic=0.004703870907273089, pvalue=0.9999996327658887)
KstestResult(statistic=0.004266120969757536, pvalue=0.9999999893222891)
KstestResult(statistic=0.004266245938515434, pvalue=0.9999999893097994)
KstestResult(statistic=0.020468039240189917, pvalue=0.1349396641026589)
KstestResult(statistic=0.02030771994501379, pvalue=0.1407167626174789)
KstestResult(statistic=0.014252843039240182, pvalue=0.5290633013772919)

KstestResult(statistic=0.011775259310172426, pvalue=0.7618139687233745)
KstestResult(statistic=0.011778446013496646, pvalue=0.7615244091494249)
KstestResult(statistic=0.016462478130467417, pvalue=0.3470947984351892)
KstestResult(statistic=0.016162225068732772, pvalue=0.3692243802783932)
KstestResult(statistic=0.007402102599350147, pvalue=0.994232207459485)
KstestResult(statistic=0.009301862034491348, pvalue=0.9421660549546861)
KstestResult(statistic=0.0069572919270182165, pvalue=0.9975278360137592)
KstestResult(statistic=0.011081104723819069, pvalue=0.8224616482586455)
KstestResult(statistic=0.005698497250687273, pvalue=0.9999334407785435)
KstestResult(statistic=0.005510372406898334, pvalue=0.9999691532496195)
KstestResult(statistic=0.01402252561859535, pvalue=0.5502004624889628)
KstestResult(statistic=0.013592226943264119, pvalue=0.5903981557771982)
KstestResult(statistic=0.012395776055985963, pvalue=0.7041646483947299)
KstestResult(statistic=0.01873940889777559, pvalue=0.2083242109125475)
KstestResult(statistic=0.019252343164208985, pvalue=0.1838902939189041)
KstestResult(statistic=0.015006217195701055, pvalue=0.4623734875992995)
KstestResult(statistic=0.013755154961259675, pvalue=0.5750839577996165)
KstestResult(statistic=0.013452558735316172, pvalue=0.6035992093308558)
KstestResult(statistic=0.011629420769807552, pvalue=0.7749724116728709)
KstestResult(statistic=0.011418129842539315, pvalue=0.7936770513954188)
KstestResult(statistic=0.013921472756810771, pvalue=0.5595651280687414)
KstestResult(statistic=0.017082979255186204, pvalue=0.30419829709268664)
KstestResult(statistic=0.018957291927018227, pvalue=0.1976561384900597)
KstestResult(statistic=0.00676062234441388, pvalue=0.9983938264758636)
KstestResult(statistic=0.0060102474381404924, pvalue=0.9997968329055139)

In [124]:
def detect_dataset_drift(base_df,current_df,threshold=0.05)->bool:
    
    status=True
    report ={}
    for column in base_df.columns:
        d1 = base_df[column]
        d2  = current_df[column]
        is_same_dist = ks_2samp(d1,d2)
        if threshold<=is_same_dist.pvalue:
            is_found=False
        else:
            is_found = True 
            status=False
        report.update({column:{
            "p_value":float(is_same_dist.pvalue),
            "drift_status":is_found

            }})

    return report

In [125]:
detect_dataset_drift(train_df, test_df)

{'class': {'p_value': 1.0, 'drift_status': False},
 'aa_000': {'p_value': 0.9410926404905947, 'drift_status': False},
 'ac_000': {'p_value': 0.4666665269460183, 'drift_status': False},
 'ad_000': {'p_value': 0.4035151787899641, 'drift_status': False},
 'ae_000': {'p_value': 0.9997476525982335, 'drift_status': False},
 'af_000': {'p_value': 0.9996944698488477, 'drift_status': False},
 'ag_000': {'p_value': 1.0, 'drift_status': False},
 'ag_001': {'p_value': 1.0, 'drift_status': False},
 'ag_002': {'p_value': 0.9999999921393242, 'drift_status': False},
 'ag_003': {'p_value': 0.10558571481456991, 'drift_status': False},
 'ag_004': {'p_value': 0.505837630438867, 'drift_status': False},
 'ag_005': {'p_value': 0.743136796721573, 'drift_status': False},
 'ag_006': {'p_value': 0.20903060791721806, 'drift_status': False},
 'ag_007': {'p_value': 0.14259543852717427, 'drift_status': False},
 'ag_008': {'p_value': 0.16232824658953982, 'drift_status': False},
 'ag_009': {'p_value': 0.2662401075199675, 'drift_status': False},
 'ah_000': {'p_value': 0.3432762335250037, 'drift_status': False},
 'ai_000': {'p_value': 0.9052836490957239, 'drift_status': False},
 'aj_000': {'p_value': 0.982788269795203, 'drift_status': False},
 'ak_000': {'p_value': 0.9993592209274073, 'drift_status': False},
 'al_000': {'p_value': 0.6475097289074215, 'drift_status': False},
 'am_0': {'p_value': 0.6122812661605113, 'drift_status': False},
 'an_000': {'p_value': 0.5121972414676297, 'drift_status': False},
 'ao_000': {'p_value': 0.4676406266055456, 'drift_status': False},
 'ap_000': {'p_value': 0.278744668454569, 'drift_status': False},
 'aq_000': {'p_value': 0.11631877704663762, 'drift_status': False},
 'ar_000': {'p_value': 0.9997968329055139, 'drift_status': False},
 'as_000': {'p_value': 1.0, 'drift_status': False},
 'at_000': {'p_value': 0.4451177597437793, 'drift_status': False},
 'au_000': {'p_value': 1.0, 'drift_status': False},
 'av_000': {'p_value': 0.080275173815758, 'drift_status': False},
 'ax_000': {'p_value': 0.23572890722110829, 'drift_status': False},
 'ay_000': {'p_value': 0.9999999999999938, 'drift_status': False},
 'ay_001': {'p_value': 0.9999982757057697, 'drift_status': False},
 'ay_002': {'p_value': 0.9999975067751713, 'drift_status': False},
 'ay_003': {'p_value': 0.9999999902845894, 'drift_status': False},
 'ay_004': {'p_value': 0.9999493142164386, 'drift_status': False},
 'ay_005': {'p_value': 0.5196271933475054, 'drift_status': False},
 'ay_006': {'p_value': 0.4005581658823314, 'drift_status': False},
 'ay_007': {'p_value': 0.7980465351352296, 'drift_status': False},
 'ay_008': {'p_value': 0.5400143574278433, 'drift_status': False},
 'ay_009': {'p_value': 1.0, 'drift_status': False},
 'az_000': {'p_value': 0.4278399092396876, 'drift_status': False},
 'az_001': {'p_value': 0.7201838816562358, 'drift_status': False},
 'az_002': {'p_value': 0.8336854420245271, 'drift_status': False},
 'az_003': {'p_value': 0.8162028541108141, 'drift_status': False},
 'az_004': {'p_value': 0.6993058704206476, 'drift_status': False},
 'az_005': {'p_value': 0.5739048756490267, 'drift_status': False},
 'az_006': {'p_value': 0.4739198949457608, 'drift_status': False},
 'az_007': {'p_value': 0.9029646610994109, 'drift_status': False},
 'az_008': {'p_value': 0.9342736489396729, 'drift_status': False},
 'az_009': {'p_value': 1.0, 'drift_status': False},
 'ba_000': {'p_value': 0.5573543333678312, 'drift_status': False},
 'ba_001': {'p_value': 0.8520656633371739, 'drift_status': False},
 'ba_002': {'p_value': 0.5728229320972772, 'drift_status': False},
 'ba_003': {'p_value': 0.7087812441156871, 'drift_status': False},
 'ba_004': {'p_value': 0.8164896790351214, 'drift_status': False},
 'ba_005': {'p_value': 0.7791596667075611, 'drift_status': False},
 'ba_006': {'p_value': 0.6067762013689617, 'drift_status': False},
 'ba_007': {'p_value': 0.628872949744651, 'drift_status': False},
 'ba_008': {'p_value': 0.3892530864789442, 'drift_status': False},
 'ba_009': {'p_value': 0.34331431451864225, 'drift_status': False},
 'bb_000': {'p_value': 0.330601626024149, 'drift_status': False},
 'bc_000': {'p_value': 0.9924354411309356, 'drift_status': False},
 'bd_000': {'p_value': 0.9951834442546812, 'drift_status': False},
 'be_000': {'p_value': 0.39406670846598413, 'drift_status': False},
 'bf_000': {'p_value': 0.2240655713938675, 'drift_status': False},
 'bg_000': {'p_value': 0.36150496886380434, 'drift_status': False},
 'bh_000': {'p_value': 0.18542835072268282, 'drift_status': False},
 'bi_000': {'p_value': 0.6972690717364919, 'drift_status': False},
 'bj_000': {'p_value': 0.276335169866308, 'drift_status': False},
 'bk_000': {'p_value': 0.9571437558301022, 'drift_status': False},
 'bl_000': {'p_value': 0.9116538649320456, 'drift_status': False},
 'bm_000': {'p_value': 0.5233288867554196, 'drift_status': False},
 'bs_000': {'p_value': 0.24190516269084406, 'drift_status': False},
 'bt_000': {'p_value': 0.8809686789082672, 'drift_status': False},
 'bu_000': {'p_value': 0.31766810019529934, 'drift_status': False},
 'bv_000': {'p_value': 0.31766810019529934, 'drift_status': False},
 'bx_000': {'p_value': 0.7021714090372365, 'drift_status': False},
 'by_000': {'p_value': 0.44753768298488705, 'drift_status': False},
 'bz_000': {'p_value': 0.37482436932135044, 'drift_status': False},
 'ca_000': {'p_value': 0.8786555625741289, 'drift_status': False},
 'cb_000': {'p_value': 0.4329909369536141, 'drift_status': False},
 'cc_000': {'p_value': 0.752279049307494, 'drift_status': False},
 'cd_000': {'p_value': 1.0, 'drift_status': False},
 'ce_000': {'p_value': 0.3518648128695411, 'drift_status': False},
 'cf_000': {'p_value': 0.9998660458570177, 'drift_status': False},
 'cg_000': {'p_value': 0.9080401948036848, 'drift_status': False},
 'ch_000': {'p_value': 1.0, 'drift_status': False},
 'ci_000': {'p_value': 0.7688829539798985, 'drift_status': False},
 'cj_000': {'p_value': 0.9954608956962311, 'drift_status': False},
 'ck_000': {'p_value': 0.16024791995641885, 'drift_status': False},
 'cl_000': {'p_value': 0.9977218734540915, 'drift_status': False},
 'cm_000': {'p_value': 0.877477961484052, 'drift_status': False},
 'cn_000': {'p_value': 1.0, 'drift_status': False},
 'cn_001': {'p_value': 0.41403018971973693, 'drift_status': False},
 'cn_002': {'p_value': 0.46214464960604396, 'drift_status': False},
 'cn_003': {'p_value': 0.497063406110809, 'drift_status': False},
 'cn_004': {'p_value': 0.9123448150916302, 'drift_status': False},
 'cn_005': {'p_value': 0.27101080748435624, 'drift_status': False},
 'cn_006': {'p_value': 0.19450361348832934, 'drift_status': False},
 'cn_007': {'p_value': 0.34410568775281114, 'drift_status': False},
 'cn_008': {'p_value': 0.5633256960895311, 'drift_status': False},
 'cn_009': {'p_value': 0.635014931661916, 'drift_status': False},
 'co_000': {'p_value': 0.8375595219993109, 'drift_status': False},
 'cp_000': {'p_value': 0.38263431950519033, 'drift_status': False},
 'cq_000': {'p_value': 0.31766810019529934, 'drift_status': False},
 'cs_000': {'p_value': 0.7084998791242725, 'drift_status': False},
 'cs_001': {'p_value': 0.6936505500499945, 'drift_status': False},
 'cs_002': {'p_value': 0.5489349398835334, 'drift_status': False},
 'cs_003': {'p_value': 0.5018477157934902, 'drift_status': False},
 'cs_004': {'p_value': 0.5484215108403896, 'drift_status': False},
 'cs_005': {'p_value': 0.486471423993729, 'drift_status': False},
 'cs_006': {'p_value': 0.7465429936310752, 'drift_status': False},
 'cs_007': {'p_value': 0.9121680636116632, 'drift_status': False},
 'cs_008': {'p_value': 0.9999993152057182, 'drift_status': False},
 'cs_009': {'p_value': 0.9999981912970786, 'drift_status': False},
 'ct_000': {'p_value': 0.1587708759642361, 'drift_status': False},
 'cu_000': {'p_value': 0.26716506682167374, 'drift_status': False},
 'cv_000': {'p_value': 0.6939053474072361, 'drift_status': False},
 'cx_000': {'p_value': 0.7992692142611542, 'drift_status': False},
 'cy_000': {'p_value': 0.9978366688077259, 'drift_status': False},
 'cz_000': {'p_value': 0.776494801947061, 'drift_status': False},
 'da_000': {'p_value': 1.0, 'drift_status': False},
 'db_000': {'p_value': 0.7983246169523631, 'drift_status': False},
 'dc_000': {'p_value': 0.8534099085140749, 'drift_status': False},
 'dd_000': {'p_value': 0.5782587342942536, 'drift_status': False},
 'de_000': {'p_value': 0.08822984746816187, 'drift_status': False},
 'df_000': {'p_value': 0.9999962095143882, 'drift_status': False},
 'dg_000': {'p_value': 0.9999998509958002, 'drift_status': False},
 'dh_000': {'p_value': 0.999994728170455, 'drift_status': False},
 'di_000': {'p_value': 0.9987325820526065, 'drift_status': False},
 'dj_000': {'p_value': 0.9999999983653877, 'drift_status': False},
 'dk_000': {'p_value': 0.9999996327658887, 'drift_status': False},
 'dl_000': {'p_value': 0.9999999893222891, 'drift_status': False},
 'dm_000': {'p_value': 0.9999999893097994, 'drift_status': False},
 'dn_000': {'p_value': 0.1349396641026589, 'drift_status': False},
 'do_000': {'p_value': 0.1407167626174789, 'drift_status': False},
 'dp_000': {'p_value': 0.5290633013772919, 'drift_status': False},
 'dq_000': {'p_value': 0.7618139687233745, 'drift_status': False},
 'dr_000': {'p_value': 0.7615244091494249, 'drift_status': False},
 'ds_000': {'p_value': 0.3470947984351892, 'drift_status': False},
 'dt_000': {'p_value': 0.3692243802783932, 'drift_status': False},
 'du_000': {'p_value': 0.994232207459485, 'drift_status': False},
 'dv_000': {'p_value': 0.9421660549546861, 'drift_status': False},
 'dx_000': {'p_value': 0.9975278360137592, 'drift_status': False},
 'dy_000': {'p_value': 0.8224616482586455, 'drift_status': False},
 'dz_000': {'p_value': 0.9999334407785435, 'drift_status': False},
 'ea_000': {'p_value': 0.9999691532496195, 'drift_status': False},
 'eb_000': {'p_value': 0.5502004624889628, 'drift_status': False},
 'ec_00': {'p_value': 0.5903981557771982, 'drift_status': False},
 'ed_000': {'p_value': 0.7041646483947299, 'drift_status': False},
 'ee_000': {'p_value': 0.2083242109125475, 'drift_status': False},
 'ee_001': {'p_value': 0.1838902939189041, 'drift_status': False},
 'ee_002': {'p_value': 0.4623734875992995, 'drift_status': False},
 'ee_003': {'p_value': 0.5750839577996165, 'drift_status': False},
 'ee_004': {'p_value': 0.6035992093308558, 'drift_status': False},
 'ee_005': {'p_value': 0.7749724116728709, 'drift_status': False},
 'ee_006': {'p_value': 0.7936770513954188, 'drift_status': False},
 'ee_007': {'p_value': 0.5595651280687414, 'drift_status': False},
 'ee_008': {'p_value': 0.30419829709268664, 'drift_status': False},
 'ee_009': {'p_value': 0.1976561384900597, 'drift_status': False},
 'ef_000': {'p_value': 0.9983938264758636, 'drift_status': False},
 'eg_000': {'p_value': 0.9997968329055139, 'drift_status': False}}